*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 23px;
}
body{
    background-image: url(nobgmobile.jpg);
    background-size: cover;
}
.yes{
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background: none;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    position: absolute;
    top: 80px;
    left: 43%;
}
.no{
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background: none;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    position: absolute;
    top: 130px;
    left: 32%;
}
.no a{
    text-decoration: none;
}
a:visited { 
    text-decoration: none; 
    color: white; 
}
